target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
common/src/main/resources/
common/src/test/
dao/src/main/resources/
dao/src/test/
plugin/src/test/
pojo/src/main/resources/
pojo/src/test/
service/src/main/resources/
service/src/test/
web/src/main/resources/static/background/plugin/layui/css/css/
