.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fa4b2a;
    background-color: #eee;
    border-color: #ddd;
}

.dateCategory {
    text-align: center;
}

.dateCategory a {
    display: block;
    margin-bottom: 0.7em;
    color: #0E83CD;
    text-decoration: none;
}

.dateCategory a:hover {
    color: #FA4B2A;
}

#oImg {
    position: fixed;
    right: 0%;
    bottom: 0%;
    z-index: 1;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    color: #FA4B2A;
}

@-webkit-keyframes jello {
    from, 11.1%, to {
        -webkit-transform: none;
        transform: none;
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {
    from, 11.1%, to {
        -webkit-transform: none;
        transform: none;
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.button5 {
    color: #434343;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 1px solid #fa4b2a;
    margin-bottom: 2px;
}

.button5 a {
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
    display: block;
}

.button5:hover {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: rgba(255, 238, 95, 0.2);

}

.sim-button {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 48%;
    cursor: pointer;
}

.heart {
    background: url(../images/web_heart_animation.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: absolute;
    background-size: 2900%;
    margin-top: -1.5em;
}

.likeCount {
    display: inline-block;
    margin-left:2.8em;
    margin-top: 1.2em;
    font-size: 1.3em;
    color: #999999
}

.heart:hover, .heart:focus {
    background-position: right;
}

@-webkit-keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
}

.box{
    text-align: center;
    border: #ccc 1px dashed;
    padding: 0.5em;
    margin-top: 0.8em;
}
.box>span{
    display: inline-block;
    margin-right: 1.8em;
    font-size: 0.9em;
}
hr{
    margin-top: 2em;
    height:3px;border:none;border-top:2px dashed rgba(67, 67, 67, 0.78);
}
.send{
    background: #fa4b2a;
    border: none;
    padding: 0.5em 0;
    width: 25%;
    font-size: 0.95em;
    color: #fff;
    float: right;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.nickName,.comment{
    border: 1px solid #000;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    background:none;
    width:30%;
}
.comment{
    width: 100%;
}
.comment-title{
    display: inline-block;
    vertical-align: middle;
}
/*.media-left.response-text-left{
    width: 9%;
}*/
.lineBar{
    border-bottom: 1px solid #c3c3c3;
    margin: 10px;
}

.media-left.response-text-left a img{
display: inline-block;
    width: 70px;
}
.media-body.response-text-right{
    width: 91%;
}
@media (max-width:1012px){
    .media-body.response-text-right{
        width: 85%;
    }
}
@media (max-width:700px){
    .media-body.response-text-right{
        width: 82%;
    }
}
@media (max-width:614px){
    .heart {
        height: 65px;
    }
    .likeCount {
        margin-top: 0.8em;
    }
    #oImg {
        height: 130px;
    }
    .media-body.response-text-right{
        width: 80%;
        display: inline-block;
    }
    .media-left.response-text-left a img{
        width: 60px;
    }
}
.summary{
    height: 5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}