<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.AdminDAO">

    <resultMap id="adminResultMap" type="com.ldb.pojo.po.AdminPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="role" property="role" jdbcType="VARCHAR" />
    </resultMap>

    <select id="checkLogin" parameterType="com.ldb.pojo.po.AdminPO" resultMap="adminResultMap">
        select * from admin where userName=#{userName} and password=#{password}
    </select>

    <select id="getAdminPOByUserName" parameterType="String" resultMap="adminResultMap">
        select * from admin where userName=#{userName}
    </select>

    <update id="updateAdmin" parameterType="com.ldb.pojo.po.AdminPO">
        update admin set userName=#{userName},password=#{password}
    </update>


</mapper> 