<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.BlogTagDAO">
    <resultMap id="blogTagResultMap" type="com.ldb.pojo.po.BlogTagPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="tagName" property="tagName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="list">
        id,tagName
    </sql>


    <select id="listBlogTag" resultMap="blogTagResultMap">
        select <include refid="list"/> from blogTag
    </select>

</mapper> 