<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.CommentReplyDAO">

    <resultMap id="commentReplyResultMap" type="com.ldb.pojo.po.CommentReplyPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="userIP" property="userIP" jdbcType="VARCHAR" />
        <result column="publishTime" property="publishTime" jdbcType="TIMESTAMP" />
        <result column="commentId" property="commentId" jdbcType="INTEGER" />
        <result column="role" property="role" jdbcType="INTEGER" />
    </resultMap>

    <sql id="listVO">
        content,publishTime,role
    </sql>

    <select id="listCommentReply" parameterType="Integer" resultMap="commentReplyResultMap">
        select <include refid="listVO"/> from comment_reply where commentId=#{commentId}
    </select>

    <insert id="addCommentReply" parameterType="com.ldb.pojo.po.CommentReplyPO">
        insert into comment_reply values(null,#{content},#{userIP},#{publishTime},#{commentId},#{role})
    </insert>

    <delete id="deleteCommentReply" parameterType="Integer">
        delete from comment_reply where commentId=#{commentId}
    </delete>


</mapper> 