<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.LikeDAO">



    <select id="getLikeCount" resultType="Long">
        select COUNT(*) from `like`
    </select>

    <insert id="addLike" >
        insert into `like` values(null,#{userIP},now())
    </insert>

    <select id="getTodayLike"  resultType="Long">
        select count(*) from `like` where clickTime like #{today}
    </select>

</mapper> 