<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.LinkDAO">
    <resultMap id="linkResultMap" type="com.ldb.pojo.po.LinkPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="linkName" property="linkName" jdbcType="VARCHAR" />
        <result column="linkUrl" property="linkUrl" jdbcType="VARCHAR" />
        <result column="orderNum" property="orderNum" jdbcType="INTEGER" />
    </resultMap>



    <select id="listLinkPO" resultMap="linkResultMap">
        select * from link order by orderNum
    </select>

    <update id="updateLink" parameterType="com.ldb.pojo.po.LinkPO">
        update link set linkName=#{linkName},linkUrl=#{linkUrl},orderNum=#{orderNum} where id=#{id}
    </update>

    <delete id="deleteLink" parameterType="Integer">
        delete from link where id=#{id}
    </delete>

    <insert id="addLink" parameterType="com.ldb.pojo.po.LinkPO">
        insert into link VALUES (null,#{linkName},#{linkUrl},#{orderNum})
    </insert>

    <select id="getLinkCount" resultType="Long">
        select count(*) from link
    </select>

</mapper> 