<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.LoginHistoryDAO">
    <resultMap id="loginHistoryResultMap" type="com.ldb.pojo.po.LoginHistoryPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="ipName" property="ipName" jdbcType="VARCHAR" />
        <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <insert id="addLoginHistory" parameterType="com.ldb.pojo.po.LoginHistoryPO">
        insert into login_history values(null,#{ip},#{ipName},#{loginTime})
    </insert>

    <select id="getLoginHistory" resultMap="loginHistoryResultMap">
        select * from login_history order by loginTime desc limit 1,1
    </select>

</mapper> 