<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.SignatureDAO">

    <sql id="model">
        title,content,buttonText
    </sql>

    <select id="getSignatureVO" resultType="com.ldb.pojo.vo.SignatureVO">
        select <include refid="model"/> from signature where isShow=1 limit 0,1
    </select>

</mapper> 