<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.ldb.dao.VisitorDAO">

    <insert id="addVisitor" parameterType="com.ldb.pojo.po.VisitorPO">
        insert into visitor values(null,#{userIP},#{userBrowser},#{userOS},now())

    </insert>

    <select id="getReadNum" resultType="Long">
        select count(*) from visitor
    </select>

    <select id="getTodayReadNum" resultType="Long">
        select count(*) from visitor where readTime like #{today}
    </select>
</mapper> 