<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="header" id="ban" th:fragment="header">
        <div class="container">
            <div class="head-left wow fadeInLeft animated animated" data-wow-delay=".3s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="header-search">
                    <div class="search">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                        <div class="search_form">
                            <form action="#" method="post">
                                <input type="text" name="Search" placeholder="Search...">
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div><!--搜索条结束-->
            </div>
            <div class="header_right wow fadeInLeft animated animated" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-7" id="link-effect-7">
                            <ul class="nav navbar-nav">
                                <li class="active act"><a href="index.html">首页</a></li>
                                <li><a href="features.html">技术干货</a></li>
                                <li><a href="about.html">经验总结</a></li>
                                <li><a href="music.html">实验基地</a></li>
                                <li><a href="fashion.html">资源导航</a></li>
                                <li><a href="travel.html">心情随笔</a></li>
                                <li><a href="codes.html">给我留言</a></li>
                                <li><a href="contact.html">关于博主</a></li>
                            </ul>
                        </nav>
                    </div>

                    <!-- /.navbar-collapse -->
                </nav><!--导航条结束-->
            </div>
            <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                <div class="heart " id="like1" rel="like"><span class="likeCount" id="likeCount1">15</span></div>

            </div><!--点赞按钮结束-->
            <div class="clearfix"></div>
        </div>
    </div><!--头部导航结束-->
    <div class="footer" th:fragment="footer">
        <div class="container">
            <div class="col-md-4 footer-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                <h4>关于本站</h4>
                <p id="siteTime"></p>
                <p >网站总访问量: 1200</p>
                <img  src="http://oohwofmub.bkt.clouddn.com/images/t4.jpg" class="img-responsive" alt="">
                <div class="bht1">
                    <a href="singlepage.html">Read More</a>
                </div>
            </div>
            <div class="col-md-8 footer-middle wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                <h4>最新评论</h4>
                <div class="mid-btm">
                    <p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
                    <a href="#">your link</a>
                </div>

                <p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
                <a href="#">your link</a>

            </div>

            <div class="clearfix"></div>
        </div>
    </div><!--脚部结束-->
    <div class="copyright wow fadeInDown" th:fragment="copyright" data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
            <p>Copyright &copy; 2017 Bobbi All rights reserved.</p>
        </div>
    </div><!--版权区结束-->
</html>