<!DOCTYPE HTML>
<html>
<head>
<title>Fashion</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="../../static/foreground/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../../static/foreground/css/style.css" rel='stylesheet' type='text/css' />
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<!--light-box-files-->
<link rel="stylesheet" href="../../static/foreground/css/chocolat.css" type="text/css" media="screen">
<script src="../../static/foreground/js/jquery.chocolat.js"></script>
<script type="text/javascript">
	$(function() {
		$('.gallery-grid a').Chocolat();
	});
</script>
<!--//light-box-files-->
<script src="../../static/foreground/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header" id="ban">
		<div class="container">
			<div class="head-left">
				<div class="header-search">
						<div class="search">
							<input class="search_box" type="checkbox" id="search_box">
							<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
							<div class="search_form">
								<form action="#" method="post">
									<input type="text" name="Search" placeholder="Search...">
									<input type="submit" value="Send">
								</form>
							</div>
						</div>
				</div>
			</div>
			<div class="header_right">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-7" id="link-effect-7">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="features.html">Features</a></li>
							<li><a href="travel.html">Travel</a></li>
							<li class="active act"><a href="fashion.html">Fashion</a></li>
							<li><a href="music.html">Music</a></li>
							<li><a href="codes.html">Codes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			</div>
			<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
					<ul>
						<li><a href="#"> </a></li>
						<li><a href="#" class="pin"> </a></li>
						<li><a href="#" class="in"> </a></li>
						<li><a href="#" class="be"> </a></li>
						
						<li><a href="#" class="vimeo"> </a></li>
					</ul>
				</div>
			<div class="clearfix"> </div>	
		</div>
	</div>
	<!--start-main-->
	<div class="header-bottom">
		<div class="container">
			<div class="logo">
				<h1><a href="index.html">STYLE BLOG</a></h1>
				<p><label class="of"></label>LET'S MAKE A PERFECT STYLE<label class="on"></label></p>
			</div>
		</div>
	</div>
<!-- banner -->

<div class="banner-1">

</div>

	<!-- technology-left -->
	<div class="technology">
	<div class="container">
		<div class="col-md-9 technology-left">
			<div class="gallery" id="gallery">
		
			<h2 class="w3">FASHION</h2>
			<p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable alteration in some form, by injected humour, or randomised words which don't look even slightly believable, Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable alteration in some form, by injected humour, or randomised words which don't look even slightly believable </p>			
			<div class="gallery-grids">
				<div class="gallery-grid">
					<a href="../../static/foreground/images/g1.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<img src="../../static/foreground/images/g1.jpg" alt=" " class="img-responsive zoom-img">
					</a>
					<a href="../../static/foreground/images/g5.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<img src="../../static/foreground/images/g5.jpg" alt=" " class="img-responsive zoom-img">
					</a>
				</div>
				<div class="gallery-grid">
					<a href="../../static/foreground/images/g6.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<img src="../../static/foreground/images/g6.jpg" alt=" " class="img-responsive zoom-img">
					</a>
					<a href="../../static/foreground/images/g2.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<img src="../../static/foreground/images/g2.jpg" alt=" " class="img-responsive zoom-img">
					</a>
				</div>
				<div class="gallery-grid">
					<a href="../../static/foreground/images/g3.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<img src="../../static/foreground/images/g3.jpg" alt=" " class="img-responsive zoom-img">
					</a>
					<a href="../../static/foreground/images/g7.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<img src="../../static/foreground/images/g7.jpg" alt=" " class="img-responsive zoom-img">
					</a>
				</div>
				<div class="gallery-grid" data-wow-delay=".5s">
					<a href="../../static/foreground/images/g8.jpg">
						<img src="../../static/foreground/images/g8.jpg" alt=" " class="img-responsive zoom-img">
					</a>
					<a href="../../static/foreground/images/g4.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<img src="../../static/foreground/images/g4.jpg" alt=" " class="img-responsive zoom-img">
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
	
	</div>
		</div>
		<!-- technology-right -->
		<div class="col-md-3 technology-right">
				
				
				<div class="blo-top1">
							
					<div class="tech-btm">
					<div class="search-1">
							<form action="#" method="post">
								<input type="search" name="Search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required>
								<input type="submit" value=" ">
							</form>
						</div>
					<h4>Popular Posts </h4>
						<div class="blog-grids">
							<div class="blog-grid-left">
								<a href="singlePage.html"><img src="../../static/foreground/images/t2.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlePage.html">Pellentesque dui Maecenas male</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids">
							<div class="blog-grid-left">
								<a href="singlePage.html"><img src="../../static/foreground/images/m2.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlePage.html">Pellentesque dui Maecenas male</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids">
							<div class="blog-grid-left">
								<a href="singlePage.html"><img src="../../static/foreground/images/f2.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlePage.html">Pellentesque dui Maecenas male</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids">
							<div class="blog-grid-left">
								<a href="singlePage.html"><img src="../../static/foreground/images/t3.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlePage.html">Pellentesque dui Maecenas male</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids">
							<div class="blog-grid-left">
								<a href="singlePage.html"><img src="../../static/foreground/images/m3.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlePage.html">Pellentesque dui Maecenas male</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="insta">
					<h4>Instagram</h4>
						<ul>
							
							<li><a href="singlePage.html"><img src="../../static/foreground/images/t1.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/m1.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/f1.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/m2.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/f2.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/t2.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/f3.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/t3.jpg" class="img-responsive" alt=""></a></li>
							<li><a href="singlePage.html"><img src="../../static/foreground/images/m3.jpg" class="img-responsive" alt=""></a></li>
						</ul>
					</div>
					
					<p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro</p>
					</div>
					
					
					
				</div>
				
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div>
<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-left">
				<h4>About Me</h4>
				<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<img src="../../static/foreground/images/t4.jpg" class="img-responsive" alt="">
					<div class="bht1">
						<a href="singlePage.html">Read More</a>
					</div>
			</div>
			<div class="col-md-4 footer-middle">
			<h4>Latest Tweet</h4>
			<div class="mid-btm">
				<p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<a href="#">your link</a>
			</div>
			
				<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<a href="#">your link</a>
		
			</div>
			<div class="col-md-4 footer-right">
				<h4>Newsletter</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						<div class="name">
							<form action="#" method="post">
								<input type="text" placeholder="Your Name" required>
								<input type="text" placeholder="Your Email" required>
								<input type="submit" value="Subscribed Now">
							</form>
						
						</div>	
						
							<div class="clearfix"> </div>
					
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="copyright">
				<div class="container">
					<p>Copyright &copy; 2016.Company name All rights reserved.</p>
				</div>
			</div>
</body>
</html>