<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DB'S BLOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/foreground/css/bootstrap.css}" href="../../static/foreground/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link th:href="@{/foreground/css/style.css}" href="../../static/foreground/css/style.css" rel='stylesheet' type='text/css'/>
    <link th:href="@{/foreground/css/mystyle.css}" href="../../static/foreground/css/mystyle.css" rel='stylesheet' type='text/css'/>
    <link th:href="@{/foreground/css/dropdown.css}" href="../../static/foreground/css/dropdown.css" rel='stylesheet' type='text/css'/>
    <link th:href="@{/foreground/css/animate.min.css}" href="../../static/foreground/css/animate.min.css" rel="stylesheet">
</head>
<body>
<div class="header" id="ban" th:include="foreground/common::header"></div><!--头部导航结束-->

<div class="header-bottom">
    <div class="container">
        <div class="logo wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h1><a href="index.html">DB'S BLOG</a></h1>
            <p><label class="of"></label><span th:text="${application.motto.motto}">Just do IT</span><label class="on"></label></p>
        </div>
    </div>
</div><!--博客标题结束-->

<div class="banner">
    <div class="container">
        <h2>提醒自己一件事，千万不要自己感动自己</h2>
        <p>大部分人看似的努力，不过是愚蠢导致的。什么熬夜看书到天亮，连续几天只睡几小时，多久没放假了，如果这些东西也值得夸耀，那么富士康流水线上任何一个人都比你努力多了。人难免天生有自怜的情绪，唯有时刻保持清醒，才能看清真正的价值在哪里。 </p>
        <a href="#">Hello Word!</a>
    </div>
</div><!--鸡汤签名结束-->

<div class="services w3l wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
    <div class="container">
        <div class="grid_3 grid_5">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#expeditions" id="expeditions-tab" role="tab"data-toggle="tab" aria-controls="expeditions"aria-expanded="true">音乐欣赏</a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#safari" role="tab" id="safari-tab" data-toggle="tab" aria-controls="safari">网页游戏</a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#trekking" role="tab" id="trekking-tab" data-toggle="tab" aria-controls="trekking">照片墙</a>
                    </li>
                </ul><!--tabs标题结束-->
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade" id="expeditions" aria-labelledby="expeditions-tab">

                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/f2.jpg}" src="../../static/foreground/images/f2.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/f4.jpg}" src="../../static/foreground/images/f4.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/f3.jpg}" src="../../static/foreground/images/f3.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="clearfix"></div>
                    </div><!--tab1内容结束-->
                    <div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/t1.jpg}" src="../../static/foreground/images/t1.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/t2.jpg}" src="../../static/foreground/images/t2.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/t3.jpg}" src="../../static/foreground/images/t3.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="clearfix"></div>
                    </div><!--tab2内容结束-->
                    <div role="tabpanel" class="tab-pane fade active in" id="trekking" aria-labelledby="trekking-tab">

                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/m2.jpg}" src="../../static/foreground/images/m2.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/m1.jpg}" src="../../static/foreground/images/m1.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="col-md-4 col-sm-5 tab-image">
                            <img th:src="@{/foreground/images/m3.jpg}" src="../../static/foreground/images/m3.jpg" class="img-responsive" alt="Wanderer">
                        </div>
                        <div class="clearfix"></div>
                    </div><!--tab3内容结束-->
                </div>
            </div>
        </div>
    </div>
</div><!--tabs页面结束-->

<div class="technology wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
    <div class="container">
        <div class="col-md-9 technology-left">
            <div class="tech-no">
                <div class="tc-ch wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                    <h3><a href="singlepage.html">推荐 : 网站源码下载</a></h3>
                    <h6></h6>
                    <div class="tch-img">
                        <a href="singlepage.html"><img th:src="@{/foreground/images/t4.jpg}" src="../../static/foreground/images/t4.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <h6>BY <a href="singlepage.html">氧化钡 </a> 2017-04-13</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt
                        ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="bht1">
                        <a href="singlepage.html">继续阅读</a>
                    </div>
                    <div class="soci">
                        <p><a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0
                        </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                    </div>
                    <div class="clearfix"></div>
                </div><!--推荐阅读结束-->
                <div class="clearfix"></div>

                <div class="w3ls tc-ch wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                    <h3><a href="singlepage.html">最新更新</a></h3>
                    <h6></h6>
                    <div class="col-md-6 w3ls-left wow fadeInDown">
                        <div class="tc-ch" style="padding:0px;">
                            <div class="tch-img">
                                <a href="singlepage.html">
                                    <img th:src="@{/foreground/images/m4.jpg}" src="../../static/foreground/images/m4.jpg" class="img-responsive" alt="">
                                </a>
                            </div>
                            <h6><a href="singlepage.html">最新博文0</a></h6>
                            <h6>BY <a href="singlepage.html">氧化钡</a> 2017-04-13</h6>
                            <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna
                                aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="bht1">
                                <a href="singlepage.html">查看更多</a>
                            </div>
                            <div class="soci">
                                <p style="padding-right: 1.8em">
                                    <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a>
                                    <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 w3ls-left wow fadeInDown">
                        <div class="tc-ch" style="padding:0px;">
                            <div class="tch-img">
                                <a href="singlepage.html"><img th:src="@{/foreground/images/m5.jpg}" src="../../static/foreground/images/m5.jpg"
                                                               class="img-responsive" alt=""></a>
                            </div>

                            <h6><a href="singlepage.html">最新博文1</a></h6>
                            <h6>BY <a href="singlepage.html">Bobbi</a> 2017-04-13</h6>
                            <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna
                                aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="bht1">
                                <a href="singlepage.html">查看更多</a>
                            </div>
                            <div class="soci">
                                <p style="padding-right: 1.8em"><a class="span_link" href="#"><span
                                        class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link"
                                                                                            href="#"><span
                                        class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!--最新更新结束-->

                <div class="wthree">
                    <div class="col-md-6 wthree-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="tch-img">
                            <a href="singlepage.html">
                                <img th:src="@{/foreground/images/f1.jpg}" src="../../static/foreground/images/f1.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 wthree-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h6><a href="singlepage.html">最新博文2</a></h6>
                        <h6>BY <a href="singlepage.html">氧化钡 </a> 2017-04-13</h6>
                        <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna
                            aliqua exercitation ullamco laboris .</p>
                        <div class="bht1">
                            <a href="singlepage.html">查看更多</a>
                        </div>
                        <div class="soci">
                            <p><a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a
                                    class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a>
                            </p>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wthree">
                    <div class="col-md-6 wthree-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="tch-img">
                            <a href="singlepage.html"><img th:src="@{/foreground/images/f2.jpg}" src="../../static/foreground/images/f2.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 wthree-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h6><a href="singlepage.html">最新博文3</a></h6>
                        <h6>BY <a href="singlepage.html">氧化钡 </a> 2017-04-13</h6>
                        <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna
                            aliqua exercitation ullamco laboris .</p>
                        <div class="bht1">
                            <a href="singlepage.html">查看更多</a>
                        </div>
                        <div class="soci">
                            <p><a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a
                                    class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a>
                            </p>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wthree">
                    <div class="col-md-6 wthree-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="tch-img">
                            <a href="singlepage.html"><img th:src="@{/foreground/images/f3.jpg}" src="../../static/foreground/images/f3.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 wthree-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h6><a href="singlepage.html">SpringBoot多模块配置</a></h6>
                        <h6>BY <a href="singlepage.html">氧化钡 </a> 2017-04-13</h6>
                        <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna
                            aliqua exercitation ullamco laboris.</p>
                        <div class="bht1">
                            <a href="singlepage.html">查看更多</a>
                        </div>
                        <div class="soci">
                            <p><a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a
                                    class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a>
                            </p>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div><!--3篇博文结束-->
                <nav class="paging wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                    <ul class="pagination pagination-mg">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">>></span></a></li>
                    </ul>
                </nav> <!--分页结束-->
            </div>
        </div><!--左侧内容结束-->

        <div class="col-md-3 technology-right">
            <div class="blo-top1">
                <div class="tech-btm">
                    <div id="time" class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <canvas id="canvas" style="width: 100%"></canvas>
                    </div><!--时间结束-->

                    <div class="search-1 wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <form action="#" method="post">
                            <input type="search" name="Search" value="Search" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Search';}" required>
                            <input type="submit" value=" ">
                        </form>
                    </div><!--搜索结束-->

                    <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <select id="cd-dropdown" class="cd-select">
                            <option selected>博客类别</option>
                            <option th:each="blogType:${application.blogTypeList}"><a href="#" th:text="${blogType.typeName}">项目分享</a></option>
                        </select>
                    </div><!--博客类别结束-->

                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>热门点击</h4>
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img th:src="@{/foreground/images/t2.jpg}" src="../../static/foreground/images/t2.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文0</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img th:src="@{/foreground/images/m2.jpg}" src="../../static/foreground/images/m2.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文1</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img th:src="@{/foreground/images/f2.jpg}" src="../../static/foreground/images/f2.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文2</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img th:src="@{/foreground/images/t3.jpg}" src="../../static/foreground/images/t3.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文3</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img th:src="@{/foreground/images/m3.jpg}" src="../../static/foreground/images/m3.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">SpringBoot多模块配置</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--热门点击结束-->

                    <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>标签云</h4>
                        <div id="tag-cloud"></div>
                    </div><!--标签云结束-->

                    <div class="dateCategory wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>日期归档</h4>
                        <nav class="cl-effect-1">
                            <a th:each="blogDateArchive:${application.blogDateArchiveList}" th:text="${#calendars.format(blogDateArchive.archiveDate,'yyyy年MM月')}+'&nbsp;('+${blogDateArchive.totalNum}+')'" href="#">2017年04月11日 (10)</a>
                        </nav>

                    </div><!--日期归档结束-->

                    <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>友情链接</h4>
                        <div class="sim-button button5" th:each="link:${application.linkList}"><a th:href="${link.linkUrl}" target="_blank"><span th:text="${link.linkName}">罗思瑜的博客</span></a></div>
                    </div><!--友情链接结束-->
                </div>
            </div>
        </div><!--右侧内容结束-->
        <div class="clearfix"></div>
    </div>
</div><!--内容主体结束-->

<div class="footer" th:include="foreground/common::footer"></div><!--尾部结束-->

<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s" th:include="foreground/common::copyright"></div><!--版权区结束-->

<img id="oImg" th:src="@{/foreground/images/xiaolongbao.gif}" src="../../static/foreground/images/xiaolongbao.gif" />

<script th:src="@{/foreground/js/jquery-1.11.1.min.js}" src="../../static/foreground/js/jquery-1.11.1.min.js"></script>
<script th:src="@{/foreground/js/bootstrap.min.js}" src="../../static/foreground/js/bootstrap.min.js"></script>
<script th:src="@{/foreground/js/wow.min.js}" src="../../static/foreground/js/wow.min.js"></script>
<script th:src="@{/foreground/js/jquery.svg3dtagcloud.min.js}" src="../../static/foreground/js/jquery.svg3dtagcloud.min.js"></script>
<script th:src="@{/foreground/js/modernizr.custom.63321.js}" src="../../static/foreground/js/modernizr.custom.63321.js"></script>
<script th:src="@{/foreground/js/jquery.dropdown.js}" src="../../static/foreground/js/jquery.dropdown.js"></script>
<script th:src="@{/foreground/js/time.js}" src="../../static/foreground/js/time.js"></script>
<script th:src="@{/foreground/js/xiaolongbao.js}" src="../../static/foreground/js/xiaolongbao.js"></script>
<script th:src="@{/foreground/js/myjs.js}" src="../../static/foreground/js/myjs.js"></script>
<script  th:inline="javascript">
    $(document).ready(function () {
        var blogTagList=[[${application.blogTagList}]];
        var entries=[];
        for(var i in blogTagList){
            var entry={
                label:blogTagList[i].tagName
            }
            entries.push(entry);
        }
        var settings = {
            entries: entries,
            width: '100%',
            height: '100%',
            radius: '78%',
            radiusMin: '50%',
            bgDraw: true,
            bgColor: '#FFF',
            opacityOver: 1.00,
            opacityOut: 0.13,
            opacitySpeed: 6,
            fov: 800,
            speed: 0.5,
            fontFamily: 'Oswald, Arial, sans-serif',
            fontSize: '15',
            fontColor: '#000',
            fontWeight: 'normal',//bold
            fontStyle: 'normal',//italic
            fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
            fontToUpperCase: false

        };

        //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder'  ), settings );
        $('#tag-cloud').svg3DTagCloud(settings);
    });

</script>
</body>
</html>