<!DOCTYPE HTML>
<html>
<head>
    <title>DB'S BLOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <link href="../../static/foreground/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="../../static/foreground/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="../../static/foreground/css/mystyle.css" rel='stylesheet' type='text/css'/>
    <link href="../../static/foreground/css/dropdown.css" rel='stylesheet' type='text/css'/>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../static/foreground/js/bootstrap.min.js"></script>
    <!-- animation-effect -->
    <link href="../../static/foreground/css/animate.min.css" rel="stylesheet">
    <script src="../../static/foreground/js/wow.min.js"></script>
    <script src="../../static/foreground/js/jquery.svg3dtagcloud.min.js"></script>
    <!--<script src="../../static/foreground/js/modernizr.custom.js"></script>-->
    <script src="../../static/foreground/js/modernizr.custom.63321.js"></script>
    <script src="../../static/foreground/js/jquery.dropdown.js"></script>
    <script type="text/javascript" src="../../static/foreground/js/time.js"></script>
    <script type="text/javascript" src="../../static/foreground/js/myjs.js"></script>
    <!--评论插件-->
    <link href="../../static/foreground/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="../../static/foreground/css/jquery.emoji.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/foreground/js/jquery.mousewheel-3.0.6.min.js"></script>
    <script type="text/javascript" src="../../static/foreground/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="../../static/foreground/js/jquery.emoji.js"></script>
    <script>
        window.onload = function() {
            $("#content").emoji({
                animation: 'slide',
                icons: [ {
                    name:"qq",
                    path: "../../static/foreground/images/qq/",
                    maxNum: 91,
                    excludeNums: [41, 45, 54],
                    file: ".gif",
                    placeholder: "#qq_{alias}#"
                }]
            });
        }
    </script>
</head>
<body>
<div class="header" id="ban">
    <div class="container">
        <div class="head-left wow fadeInLeft animated animated" data-wow-delay=".5s"
             style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="header-search">
                <div class="search">
                    <input class="search_box" type="checkbox" id="search_box">
                    <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search"
                                                                      aria-hidden="true"></span></label>
                    <div class="search_form">
                        <form action="#" method="post">
                            <input type="text" name="Search" placeholder="Search...">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_right wow fadeInLeft animated animated" data-wow-delay=".5s"
             style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-7" id="link-effect-7">
                        <ul class="nav navbar-nav">
                            <li class="active act"><a href="index.html">首页</a></li>
                            <li><a href="features.html">技术干货</a></li>
                            <li><a href="about.html">经验总结</a></li>
                            <li><a href="travel.html">实验基地</a></li>
                            <li><a href="fashion.html">资源导航</a></li>
                            <li><a href="music.html">心情随笔</a></li>
                            <li><a href="codes.html">给我留言</a></li>
                            <li><a href="contact.html">关于博主</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
             style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
            <div class="heart " id="like1" rel="like"><span class="likeCount" id="likeCount1">15</span></div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--start-main-->
<div class="header-bottom">
    <div class="container">
        <div class="logo wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h1><a href="index.html">DB'S BLOG</a></h1>
            <p><label class="of"></label>Just do IT<label class="on"></label></p>
        </div>
    </div>
</div>
<!-- banner -->

<div class="banner-1"></div>

<!-- technology-left -->
<div class="technology">
    <div class="container">
        <div class="col-md-9 technology-left">
            <div class="agileinfo">

                <h2 class="w3" style="text-align: center">博文标题</h2>
                <p class="box"><span>发布时间 : 2017-4-14 11:12:32</span><span>编辑 : 氧化钡|D B</span><span>阅读(15)</span></p>
                <div class="single">
                    <img src="../../static/foreground/images/sing-1.jpg" class="img-responsive" alt="">
                    <div class="b-bottom">
                        <h5 class="top">What turn out consetetur sadipscing elit</h5>
                        <p class="sub">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem
                            Ipsum has been the industry's standard dummy text ever since,Lorem Ipsum is simply dummy
                            text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the
                            printing and typesetting industryLorem Ipsum has been the industry's standard dummy text
                            ever since Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

                    </div>
                </div>
                <div class="response">
                    <h4>评论</h4>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img src="../../static/foreground/images/sin1.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="media-body response-text-right">
                            <p>留言内容balabala</p>
                            <ul>
                                <li>Jun 21, 2016</li>
                                <li><a href="#">Reply</a></li>
                            </ul>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img src="../../static/foreground/images/sin2.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>回复内容balabala</p>
                                    <ul>
                                        <li>July 17, 2016</li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <hr>
                <div class="contact-section">
                    <div class="contact-grids">
                        您的昵称 : <input type="text" placeholder="请输入您的昵称" class="nickName"><br>
                        <span class="comment-title">评论内容 : </span><br>
                        <textarea class="comment" id="content" rows="3" ></textarea>
                        <input type="submit" class="send">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- technology-right -->
        <div class="col-md-3 technology-right">


            <div class="blo-top1">

                <div class="tech-btm">
                    <div id="time" class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s">
                        <canvas id="canvas" style="width: 100%"></canvas>
                    </div>
                    <div class="search-1 wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <form action="#" method="post">
                            <input type="search" name="Search" value="Search" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Search';}" required>
                            <input type="submit" value=" ">
                        </form>
                    </div>

                    <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s">
                        <select id="cd-dropdown" class="cd-select">
                            <option selected>博客类别</option>
                            <option><a href="#">项目分享</a></option>
                            <option>技术探讨</option>
                            <option>散文随笔</option>
                            <option>花店</option>
                        </select>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>热门点击</h4>
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img src="../../static/foreground/images/t2.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文0</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img src="../../static/foreground/images/m2.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文1</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img src="../../static/foreground/images/f2.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文2</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img src="../../static/foreground/images/t3.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">热门博文3</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-grid-left">
                            <a href="singlepage.html"><img src="../../static/foreground/images/m3.jpg"
                                                           class="img-responsive" alt=""></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="singlepage.html">SpringBoot多模块配置</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>标签云</h4>
                        <div id="tag-cloud"></div>
                    </div>

                    <div class="dateCategory wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>日期归档</h4>
                        <nav class="cl-effect-1">
                            <a href="#">2017年04月11日 (10)</a>
                            <a href="#">2017年04月11日 (10)</a>
                            <a href="#">2017年04月11日 (10)</a>
                            <a href="#">2017年04月11日 (10)</a>
                        </nav>

                    </div>
                    <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>友情链接</h4>
                        <div class="sim-button button5"><a href="#"><span>罗思瑜的博客</span></a></div>
                        <div class="sim-button button5"><span>Login</span></div>
                        <div class="sim-button button5"><span>Login</span></div>
                        <div class="sim-button button5"><span>Login</span></div>
                        <div class="sim-button button5"><span>Login</span></div>
                        <div class="sim-button button5"><span>Login</span></div>
                    </div>

                </div>

            </div>


        </div>
        <div class="clearfix"></div>
        <!-- technology-right -->
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-4 footer-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>关于本站</h4>
            <p id="siteTime"></p>
            <p>网站总访问量: 1200</p>
            <img src="../../static/foreground/images/t4.jpg" class="img-responsive" alt="">
            <div class="bht1">
                <a href="singlepage.html">Read More</a>
            </div>
        </div>
        <div class="col-md-8 footer-middle wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>最新评论</h4>
            <div class="mid-btm">
                <p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
                <a href="#">your link</a>
            </div>

            <p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
            <a href="#">your link</a>

        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
    <div class="container">
        <p>Copyright &copy; 2017 Bobbi All rights reserved.</p>
    </div>
</div>
</body>
</html>