<!DOCTYPE HTML>
<html>
<head>
    <title>DB'S BLOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <link href="../../static/foreground/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="../../static/foreground/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="../../static/foreground/css/mystyle.css" rel='stylesheet' type='text/css'/>
    <link href="../../static/foreground/css/jquery.eeyellow.Timeline.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../../static/foreground/css/chocolat.css" type="text/css" media="screen">
    <link href="../../static/foreground/css/animate.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../static/foreground/js/bootstrap.min.js"></script>
    <script src="../../static/foreground/js/wow.min.js"></script>
    <script src="../../static/foreground/js/jquery.svg3dtagcloud.min.js"></script>
    <script src="../../static/foreground/js/jquery.eeyellow.Timeline.js"></script>
    <script src="../../static/foreground/js/myjs.js"></script>
    <script src="../../static/foreground/js/jquery.chocolat.js"></script>
    <script>
        $(document).ready(function () {
            $('.VivaTimeline').vivaTimeline({
                carousel: true,
                carouselTime: 3000
            });
            $('.gallery-grid a').Chocolat();
        });
    </script>
</head>
<body>
<div class="header" id="ban">
    <div class="container">
        <div class="head-left wow fadeInLeft animated animated" data-wow-delay=".5s"
             style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="header-search">
                <div class="search">
                    <input class="search_box" type="checkbox" id="search_box">
                    <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search"
                                                                      aria-hidden="true"></span></label>
                    <div class="search_form">
                        <form action="#" method="post">
                            <input type="text" name="Search" placeholder="Search...">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_right wow fadeInLeft animated animated" data-wow-delay=".5s"
             style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-7" id="link-effect-7">
                        <ul class="nav navbar-nav">
                            <li class="active act"><a href="index.html">首页</a></li>
                            <li><a href="features.html">技术干货</a></li>
                            <li><a href="about.html">经验总结</a></li>
                            <li><a href="music.html">实验基地</a></li>
                            <li><a href="fashion.html">资源导航</a></li>
                            <li><a href="travel.html">心情随笔</a></li>
                            <li><a href="codes.html">给我留言</a></li>
                            <li><a href="contact.html">关于博主</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s"
             style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
            <div class="heart " id="like1" rel="like"><span class="likeCount" id="likeCount1">15</span></div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--start-main-->
<div class="header-bottom">
    <div class="container">
        <div class="logo wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h1><a href="index.html">DB'S BLOG</a></h1>
            <p><label class="of"></label>Just do IT<label class="on"></label></p>
        </div>
    </div>
</div>
<!-- banner -->

<!--<div class="banner-1">

</div>-->


<!-- technology-left -->
<div class="technology  wow fadeInDown "  data-wow-duration=".8s" data-wow-delay=".2s">

    <div class="container " >
        <div class="col-md-12 technology-left"  style="width: 100%" >
            <div class="blog">
                <div class="row">
                        <div class="col-md-12">
                            <div class="services w3l wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                                <div class="grid_3 grid_5">
                                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active" style="width: 50%">
                                                <a href="#expeditions" id="expeditions-tab" role="tab"
                                                   data-toggle="tab" aria-controls="expeditions"
                                                   aria-expanded="true">时光轴</a></li>
                                            <li role="presentation" class="" style="width: 50%"><a href="#safari" role="tab" id="safari-tab" data-toggle="tab"
                                                                                aria-controls="safari">照片墙</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="expeditions" aria-labelledby="expeditions-tab"style="padding-bottom: 0">
                                                <div class="VivaTimeline">
                                                    <dl>
                                                        <dt>May 2016</dt>
                                                        <dd class="pos-left clearfix">
                                                            <div class="circ"></div>
                                                            <div class="time">Feb 03</div>
                                                            <div class="events">
                                                                <div class="events-header">Event Heading</div>
                                                                <div class="events-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6 pull-left">
                                                                            <img class="events-object img-responsive img-rounded" src="../../static/foreground/images/dog01.jpeg" />
                                                                        </div>
                                                                        <div class="events-desc">
                                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 pull-left">
                                                                            <img class="events-object img-responsive img-rounded" src="../../static/foreground/images/dog02.jpeg" />
                                                                        </div>
                                                                        <div class="events-desc">
                                                                            Morbi at nisi vitae mauris pretium egestas. Morbi placerat risus ligula, nec placerat urna porta vel. Nullam sollicitudin orci quis odio eleifend, ut facilisis orci lobortis. Vivamus sed lobortis odio. Nam volutpat, leo a ullamcorper luctus, sapien libero auctor est, sed semper massa turpis sed quam. Mauris posuere, libero in ultricies dignissim, lacus purus egestas urna, nec semper lorem tellus non eros. Nam at bibendum libero. Curabitur a ante et orci cursus tincidunt. Vivamus dictum, libero et rhoncus congue, nulla erat mollis dui, vitae cursus dui justo quis velit. In a tellus arcu. Nam at lobortis nisl. Donec consequat placerat eros, quis elementum mauris sodales a. Maecenas id feugiat velit. Phasellus dictum eleifend varius. Cras nec orci turpis. Aenean ut turpis nibh.
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 pull-left">
                                                                            <img class="events-object img-responsive img-rounded" src="../../static/foreground/images/dog03.jpeg" />
                                                                        </div>
                                                                        <div class="events-desc">
                                                                            Cras condimentum, metus ut vehicula euismod, odio massa pulvinar neque, id gravida neque est et sem. Proin consequat id nibh quis molestie. Quisque vehicula purus id purus elementum facilisis. Phasellus sodales nibh quis neque rhoncus aliquet. Nunc eget ipsum efficitur, pretium arcu et, gravida purus. Phasellus tempor lacus ac enim pulvinar elementum. Integer aliquet justo lacinia nunc tempus vulputate.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="events-footer">
                                                                    123
                                                                </div>
                                                            </div>
                                                        </dd>
                                                        <dt>Feb 2016</dt>
                                                        <dd class="pos-right clearfix">
                                                            <div class="circ"></div>
                                                            <div class="time">Jan 21</div>
                                                            <div class="events">
                                                                <div class="events-header">A Very Very Loooong Event Heading</div>
                                                                <div class="events-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6 pull-left">
                                                                            <img class="events-object img-responsive img-rounded" src="../../static/foreground/images/cat01.jpeg" />
                                                                        </div>
                                                                        <div class="events-desc">
                                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 pull-left">
                                                                            <img class="events-object img-responsive img-rounded" src="../../static/foreground/images/cat02.jpeg" />
                                                                        </div>
                                                                        <div class="events-desc">
                                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 pull-left">
                                                                            <img class="events-object img-responsive img-rounded" src="../../static/foreground/images/cat03.jpeg" />
                                                                        </div>
                                                                        <div class="events-desc">
                                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="events-footer">

                                                                </div>
                                                            </div>
                                                        </dd>
                                                        <dd class="pos-left clearfix">
                                                            <div class="circ"></div>
                                                            <div class="time">Jan 07</div>
                                                            <div class="events">
                                                                <div class="events-header">Event Heading</div>
                                                                <div class="events-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6 pull-left">
                                                                            <img class="events-object img-responsive img-rounded" src="../../static/foreground/images/rabbit01.jpeg" />
                                                                        </div>
                                                                        <div class="events-desc">
                                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </dd>
                                                        <dt>Jan 2016</dt>
                                                        <dt>Dec 2015</dt>
                                                        <dt>Oct 2015</dt>
                                                        <dt>Sep 2015</dt>
                                                        <dt>Aug 2015</dt>
                                                    </dl>
                                                </div>
                                                <nav class="paging" style="text-align: center;">
                                                    <ul class="pagination pagination-mg" >
                                                        <li><a href="#" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
                                                        <li><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">5</a></li>
                                                        <li><a href="#" aria-label="Next"><span aria-hidden="true">>></span></a></li>
                                                    </ul>
                                                </nav>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
                                                <div class="gallery-grids" style="margin: 0;padding: 0 3em">
                                                    <div class="gallery-grid">
                                                        <a href="../../static/foreground/images/g1.jpg" class="wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                                            <img src="../../static/foreground/images/g1.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                        <a href="../../static/foreground/images/g5.jpg" class="wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                                            <img src="../../static/foreground/images/g5.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                    </div>
                                                    <div class="gallery-grid">
                                                        <a href="../../static/foreground/images/g6.jpg" class="wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                                            <img src="../../static/foreground/images/g6.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                        <a href="../../static/foreground/images/g2.jpg" class="wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                                            <img src="../../static/foreground/images/g2.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                    </div>
                                                    <div class="gallery-grid">
                                                        <a href="../../static/foreground/images/g3.jpg" class="wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                                            <img src="../../static/foreground/images/g3.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                        <a href="../../static/foreground/images/g7.jpg" class="wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                                            <img src="../../static/foreground/images/g7.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                    </div>
                                                    <div class="gallery-grid" data-wow-delay=".3s">
                                                        <a href="../../static/foreground/images/g8.jpg">
                                                            <img src="../../static/foreground/images/g8.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                        <a href="../../static/foreground/images/g4.jpg" class="wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                                            <img src="../../static/foreground/images/g4.jpg" alt=" " class="img-responsive zoom-img">
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <!-- technology-right -->
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-4 footer-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>关于本站</h4>
            <p id="siteTime"></p>
            <p>网站总访问量: 1200</p>
            <img src="../../static/foreground/images/t4.jpg" class="img-responsive" alt="">
            <div class="bht1">
                <a href="singlePage.html">Read More</a>
            </div>
        </div>
        <div class="col-md-8 footer-middle wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>最新评论</h4>
            <div class="mid-btm">
                <p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
                <a href="#">your link</a>
            </div>

            <p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
            <a href="#">your link</a>

        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
    <div class="container">
        <p>Copyright &copy; 2017 Bobbi All rights reserved.</p>
    </div>
</div>
</body>
</html>




