<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>数据列表页面</title>
    <!-- layui.css -->
    <link th:href="@{/background/plugin/layui/css/layui.css}" href="../../static/background/plugin/layui/css/layui.css" rel="stylesheet" />
    <style>

        tr td:not(:nth-child(0)),
        tr th:not(:nth-child(0)) {
            text-align: center;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            -icab-text-overflow: ellipsis;
            -khtml-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
        }

        #dataConsole {
            text-align: center;
        }
        /*分页页容量样式*/
        /*可选*/
        .layui-laypage {
            display: block;
        }

            /*可选*/
            .layui-laypage > * {
                float: left;
            }
            /*可选*/
            .layui-laypage .laypage-extend-pagesize {
                float: right;
            }
            /*可选*/
            .layui-laypage:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

            /*必须*/
            .layui-laypage .laypage-extend-pagesize {
                height: 30px;
                line-height: 30px;
                margin: 0px;
                border: none;
                font-weight: 400;
            }
        /*分页页容量样式END*/
    </style>
</head>
<body>
    <fieldset id="dataList" class="layui-elem-field layui-field-title sys-list-field" style="display:none;">
        <legend style="text-align:center;">留言建议列表</legend>
        <div class="layui-field-box layui-form">
            <div id="dataContent" class="">
                <!--内容区域 ajax获取-->
            </div>
            <div id="pageNav"></div>
        </div>
    </fieldset>
    <!-- layui.js -->
    <script th:src="@{/background/plugin/layui/layui.js}" src="../../static/background/plugin/layui/layui.js"></script>
    <!-- layui规范化用法 -->
    <script type="text/javascript" th:inline="javascript">
        var blogAdviceNum=[[${session.blogAdviceNum}]];

        layui.define(['element','laypage', 'layer', 'form' ], function (exports) {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form();
            var laypage = layui.laypage;
            var element = layui.element();
            var laypageId = 'pageNav';


            initilData(1, 10);
            //页数据初始化
            //currentIndex：当前页面
            //pageSize：页容量（每页显示的条数）
            function initilData(currentIndex, pageSize) {
                var index = layer.load(1);
                //模拟数据加载
                setTimeout(function () {
                    layer.close(index);
                    $.ajax({
                        url:"/admin/blogAdviceManage/list/"+currentIndex,
                        type:"GET",
                        data:{
                            pageSize:pageSize
                        },
                        success:function(blogAdviceList){
                            var html = '';
                            html += '<table style="table-layout: fixed" class="layui-table" lay-even>';
                            html += '<colgroup><col width="40"><col width="80"><col width="70"><col width="200"><col width="90"><col width="40"><col width="40"><col width="40"><col width="40"></colgroup>';
                            html += '<thead><tr><th>编号</th><th>用户IP</th><th>用户昵称</th><th>内容</th><th>评论时间</th><th>回复</th><th colspan="3">操作</th></tr></thead>';
                            html += '<tbody>';
                            for(var i in blogAdviceList){
                                var item=blogAdviceList[i];
                                html+='<tr>';
                                html+='<td>'+item.id+'</td>';
                                html+='<td>'+item.userIP+'</td>';
                                html+='<td>'+item.nickName+'</td>';
                                html+='<td>'+item.content+'</td>';
                                html+='<td>'+item.publishTime+'</td>';
                                if(item.blogAdviceReplyVOList.length<=0){
                                    html+='<td><i class="layui-icon" style="font-size: 30px; color: #1E9FFF;vertical-align: middle;">&#xe61f;</i> </td>';
                                }else{
                                    html+='<td><i class="layui-icon" style="font-size: 30px; color: #FA4B2A;vertical-align: middle;">&#x1005;</i> </td>';
                                }
                                html+='<td><button class="layui-btn layui-btn-small" onclick=\'layui.datalist.showData('+JSON.stringify(item)+')\'><i class="layui-icon">&#xe63a;</i></button></td>';
                                html+='<td><button class="layui-btn layui-btn-small layui-btn-normal" onclick="layui.datalist.editData('+item.id+',\''+item.content+'\')"><i class="layui-icon">&#xe642;</i></button></td>';
                                html+='<td><button class="layui-btn layui-btn-small layui-btn-danger" onclick="layui.datalist.deleteData('+item.id+')"><i class="layui-icon">&#xe640;</i></button></td>';
                                html+='</tr>';
                            }
                            html+='</tbody></table>';
                            $('#dataContent').html(html);
                            element.init();

                        }
                    });

                    $('#dataConsole,#dataList').attr('style', 'display:block'); //显示FiledBox
                    laypage({
                        cont: laypageId,
                        pages: blogAdviceNum/pageSize==0?blogAdviceNum/pageSize:blogAdviceNum/pageSize+1,
                        groups: 5,
                        skip: true,
                        curr: currentIndex,
                        jump: function (obj, first) {
                            var currentIndex = obj.curr;
                            if (!first) {
                                initilData(currentIndex, pageSize);
                            }
                        }
                    });
                }, 500);
            }

            //输出接口，主要是两个函数，一个删除一个编辑
            var datalist = {
                deleteData: function (id) {
                    layer.confirm('同时会删除对应回复，确定删除？', {
                        btn: ['确定', '取消'] //按钮
                    }, function () {
                        $.ajax({
                            url:'/admin/blogAdvice/'+id,
                            data:{},
                            type:'DELETE',
                            success:function (result) {
                                var result=eval("("+result+")");
                                if(result.success){
                                    layer.alert('删除成功!', {
                                        closeBtn: 0,
                                        icon: 1
                                    }, function(){
                                        window.location.href="/admin/blogAdviceManage"
                                    });
                                }else{
                                    layer.alert('删除失败!', {icon: 5});
                                }
                            }
                        });
                    }, function () {

                    });
                },
                showData:function(item){
                    var html='';
                    html+='<fieldset  class="layui-elem-field layui-field-title sys-list-field" >';
                    html+='<legend style="text-align:center;">回复列表</legend>';
                    html+='<div class="layui-field-box layui-form">';
                    html+='<blockquote class="layui-elem-quote layui-quote-nm">';
                    html+='<blockquote class="layui-elem-quote ">';
                    html+='<span> 游客昵称 : '+item.nickName+'<br> 评论内容 : '+item.content+'</span>';
                    html+='</blockquote>';
                    if(item.blogAdviceReplyVOList[0]==null){
                        html+='<span>注 : 暂未回复此条评论</span>';
                    }else{
                        for(var j in item.blogAdviceReplyVOList){
                            var reply=item.blogAdviceReplyVOList[j];
                            html+='<blockquote class="layui-elem-quote" style="margin-left: 60px">';
                            if(reply.role){
                                html+='<span>博主 : '+reply.content+'</span>';
                            }else{
                                html+='<span>游客 : '+reply.content+'</span>';
                            }
                            html+='</blockquote>';
                        }
                        html+='</blockquote>';
                        html+='<hr>';
                    }
                    html+='</div>';
                    html+='</fieldset>';
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: '620px', //宽高
                        title:'回复评论',
                        content: html
                    });
                },

                editData: function (id,content) {
                    var html='';
                    html+='<form class="layui-form layui-form-pane" action="/admin/blogAdvice/reply" method="POST">';
                    html+='<label class="layui-form-label" style="border: none" >评论内容:</label>';
                    html+='<textarea  style="width:87%;margin: auto;color: #000!important;"  readonly="true" class="layui-textarea layui-disabled" >'+content+'</textarea>';
                    html+='<label class="layui-form-label" style="border: none">回复内容:</label>';
                    html+='<textarea placeholder="请输入回复内容" name="content" lay-verify="required" style="width:87%;margin: auto" class="layui-textarea " ></textarea>';
                    html+='<input type="hidden" name="blogAdviceId" value="'+id+'"/>';
                    html+='<div class="layui-form-item">';
                    html+='<div class="layui-input-inline" style="margin:10px auto 0 auto;display: block;float: none;">';
                    html+='<button class="layui-btn" id="submit"  lay-submit="" lay-filter="demo1">立即提交</button>';
                    html+='<button type="reset" class="layui-btn layui-btn-primary">重置</button>';
                    html+='</div>';
                    html+='</div>';
                    html+='</form>';

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: '420px', //宽高
                        title:'回复评论',
                        content: html
                    });
                }
            };
            exports('datalist', datalist);
        });

    </script>
</body>
</html>